/* Artfully masterminded by ZURB  */

/* -------------------------------------------------- 
   Table of Contents
-----------------------------------------------------
:: Shared Styles
:: Page Name 1
:: Page Name 2
*/


/* -----------------------------------------
   Shared Styles
----------------------------------------- */
* {
	list-style: none;
}
body{
	font-family: Proxima Nova, Arial, sans-serif;
	font-smooth:always;
	color:#ffffff;
}
h1{
	font-family: League Gothic, Arial, sans-serif;
	font-size:80px;
	font-weight:normal;
	text-transform:uppercase;
	line-height: 60px;
	border-bottom: 10px #2e2e2e dashed;
	height: 80px;
	margin:50px 0 30px 0;
}
h2{
	font-family: League Gothic, Arial, sans-serif;
}
a {
	color:#ffffff;
	text-decoration:none;
}
	a:hover {
		color:#2e2e2e;
	}
	
/* -----------------------------------------
   Fonts
----------------------------------------- */	
@font-face {
	font-family: "League Gothic";
	src: url('fonts/League_Gothic-webfont.eot');
	src: local('☺'),
		 url('fonts/League_Gothic-webfont.svg') format('opentype'),
		 url('fonts/League_Gothic-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Proxima Nova";
	src: url('fonts/ProximaNova-Regular.eot');
	src: local('☺'),
		 url('fonts/ProximaNova-Regular.ttf') format('truetype'),
		 url('fonts/ProximaNova-Regular.otf') format('opentype'),
		 url('fonts/ProximaNova-Regular.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}
@font-face {
	font-family: "Evolution";
	src: url('fonts/evolution-webfont.eot');
	src: local('☺'),
		 url('fonts/evolution-webfont.ttf') format('truetype'),
		 url('fonts/evolution-webfont.otf') format('opentype'),
		 url('fonts/evolution-webfont.woff') format('woff');
	font-weight: normal;
	font-style: normal;
}

/* -----------------------------------------
   Shared Styles
----------------------------------------- */

textarea {
	width: 100%;
	height: 300px;
}
label {
	font-family: League Gothic, Arial, sans-serif;
	font-size:27px;
	color: #fff;
}
	
.panel {
	color: #2e2e2e;
}
	.borderDouble {
    border: 12px #ffffff double;
}
.borderDash {
    border: 4px #ffffff dashed;
}
.white {
	color: white;
}
.projekktor {
	width: 100%;
    border: 10px #ffffff double;
}
.videos {
	height: 430px;
	overflow: scroll;
	overflow-x: hidden;
}
	.video {
		height: 250px;
	}
	.video p {
		padding: 5px;
	}
	.videothumb {
		border: 6px double #fff;
	}
.socialMain {
	background-color:rgba(0,0,0,0.5);
	text-align: center;
	padding: 10px 0;
	width:100%;
}

/* -----------------------------------------
   Navigation
----------------------------------------- */
.menu {
	padding-top: 30px;
}
.navi {
	padding-top: 30px;
	padding-bottom: 10px;
	text-align:center;
	list-style: none;
}
	.navi li {
		margin:0 0 10px 0;
		text-align: center;

	}
		.navi a {
			letter-spacing: 3px;
			font-family: League Gothic, Arial, sans-serif;
			font-weight:bold;
			text-transform:uppercase;
			line-height:18px;
			padding:2px;
		}
		.navi a:hover {
			padding: 5px 10px;
			background:#2e2e2e;
			color:#ffffff;
		}
		.active a {
    		padding: 2px 8px;
			background:#2e2e2e;
			color:#ffffff;
		}​
		
/* -----------------------------------------
   Page Attributes
----------------------------------------- */

#about, #music, #video, #contact, #gallery{
	border-top: 12px solid #2e2e2e;
	width: 100%;
	
}

#title {
	width: 100%;
	background:#f0f0f0 url('../images/bg_home_dots.gif') fixed;
	height: 1900px;
}
	#title .logo {
		background: url('../images/logo_home.png') 50% 0 no-repeat;
		height: 1900px;
		position: absolute;
		width: 100%;
		right:0;	
		z-index: 100;
	}
	#title .micro1 {
		background: url('../images/microLarge.png') 50% 0 no-repeat fixed;
		height: 1900px;
		margin: 0 auto;
		position: absolute;
		width: 100%;
		right:0;
		z-index: 1;
	}
	#title .sidebar {
		width:100px;
		background: blue;
		height: 1900px;
		position: absolute;
		right:0;
		z-index: 1;
	}
		#title .sidebar .content{
			background: red;
			height: 200px;
			position: absolute; top: 10%;
		}

#music {
	background:#4479da url('../images/bg_blue.jpg') 50% 0 no-repeat fixed;
	height: auto;
	min-height: 900px;
	overflow: hidden;
}
#video {
	background:#ff4242 url('../images/bg_red2.jpg') 50% 0 no-repeat fixed;
	height: 1100px;
	overflow: hidden;
}
#about {
	border-top: 12px solid #2e2e2e;
	width: 100%;
	background:#a5d434 url('../images/bg_green.jpg') 50% 0 no-repeat fixed;
	min-height: 1100px;
	height: auto;
	overflow: hidden;
}
#gallery {
	background:#ff4242 url('../images/bg_red3.jpg') 50% 0 no-repeat fixed;
	height: 700px;
	overflow: hidden;
}
#contact {
	background:#ff4242 url('../images/bg_red.jpg') 50% 0 no-repeat fixed;
	min-height: 700px;
	height: auto;
	overflow: hidden;
}
#footer {
	width:100%;
	border-top: 12px solid #2e2e2e;
	background:white url('../images/bg_white.jpg') repeat fixed;
	height: 250px;
	overflow: hidden;	
}
	#footer .logo {
		max-height: 250px;
		height: auto;
		width: auto;
		float: right;
		padding: 0;
		cursor: pointer;
	}
	#footer p {
		padding: 100px 50px;
		font-family: Proxima Nova, Arial, sans-serif;
		font-size:16px;
		line-height: 22px;
		color: #8d8d8d;
	}

.twitted {
	text-align: right;
}
.twitted:before {
	content: "Twitter";
	font-family: League Gothic, Arial, sans-serif;
	font-size:50px;
	line-height: 60px;
	font-weight:normal;
	padding: 5px;
}

	.twitted ul#twitter_update_list {
		margin: 0;
		padding: 8px;
		list-style-type: none;
	}
	.twitted ul#twitter_update_list li {
		padding: 8px;
	}
	.twitted ul#twitter_update_list li span {
		/* tweet content */
		display: block;
	}
	.twitted ul#twitter_update_list li span a {
		/* links in tweet content */
		color: #da6c6c;
	}
	.twitted ul#twitter_update_list li a {
		/* timestamp link */
		color: #000;
		font-style: italic;
	}
	.twitted ul#twitter_update_list li.firstTweet {
	}
	.twitted ul#twitter_update_list li.lastTweet {
		border-bottom: none;
	}
	.twitted p.profileLink {
		display: block;
		margin: 0;
		padding: 0.3em 1em;
		color: #fff;
		background-color: #ddd;
	}
.panel a {
	color: #2e2e2e;
}
.player {
	height:325px;
	margin-bottom: 20px;
}

 .player .play {
 	position: absolute;
 	top: 100px;
 	right:100px;
	cursor:pointer;
	height:75px;
	width:75px;
}

.player .playlist {
	background: white;
}

.player  .description {
	color: #2e2e2e;
 	position: relative;
	height:50px;
}

 .player  ol.tracks {
	height:230px;
	list-style:none;
	overflow:auto;
}

 ol.tracks li {
	cursor:pointer;
	height:25px;
	line-height:25px;
	overflow:hidden;
	padding-left:10px;
	text-overflow:ellipsis;
}

.tracks li:nth-child(odd) {
	color: #fff;
	background-color: #000;
	}
.tracks li:nth-child(even) {
	color: #000;
	background-color: #fff;
}
.tracks li:nth-child(odd) a {
	color: #fff;
	text-decoration: none;
}
.tracks li:nth-child(even) a {
	color: #000;
	text-decoration: none;
}
.tracks li .active  {
	background-color: red !important;
}

.playing  {
	background-color: red !important;
}
